{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescendo - Build your best self. Track your ascent.</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">

</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <img class="logo" src="https://i.ibb.co/bjZNMwRC/Crescendo-logo.png" alt="Crescendo-logo" border="0">
            <div class="landing-header-buttons">
                <ul>
                    <li>Features</li>
                    <li>Blog</li>
                    <li>Pricing</li>
                </ul>
                <button>Get Started for free</button>
            </div>
        </div>
    </header>
    <section class="opening">
        <div class="opening-text">
            <h1>Your Growth Journey Starts Here. <br> Meet Crescendo.</h1>
            <p>Stop guessing how to improve. <br> Crescendo provides a gamified roadmap to level up your mental and physical stats, <br> turning every completed task into earned Trophies and XP. Track your ascent, master your mind, and build lasting habits with the only personal growth app you'll ever need.</p>
            <button>Get Started for free</button>
        </div>
        <div>
            <img class="ui-image" src="https://i.ibb.co/Lz8QMq1L/Gemini-Generated-Image-flpqbbflpqbbflpq.png" alt="Gemini-Generated-Image-flpqbbflpqbbflpq" border="0">
        </div>
    </section>
    <section class="what-do-you-need">
        <h2>What Producitivity superpower <br> Do you need Today?</h2>
        <div class="buttons-div">
        <div class="buttons">
            <button>Get productivity tips</button>
            <button>Forge a Focused Plan</button>
            <button>Discover My Weakness</button>
        </div>
        <div class="buttons">
            <button>Find My Next Task</button>
            <button>Earn My Next Rank</button>
            <button>Just Get Me Started</button>
        </div>
        </div>
    </section>
</body>
</html>