{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescendo - Build your best self. Track your ascent.</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">

</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <img class="logo" src="https://i.ibb.co/svjdswsL/Gemini-Generated-Image-2zckw52zckw52zck-removebg-preview.png" alt="Gemini Generated Image 2zckw52zckw52zck removebg preview" border="0">
            <div class="landing-header-buttons">
                <ul>
                    <li>Features</li>
                    <li>Blog</li>
                    <li>Pricing</li>
                </ul>
                <button onclick="window.location.href='auth/signup';">Get Started for free</button>
            </div>
        </div>
    </header>
    <section class="opening">
        <div class="opening-text">
            <h1>Your Growth Journey Starts Here. <br> Meet Crescendo.</h1>
            <p>Stop guessing how to improve. <br> Crescendo provides a gamified roadmap to level up your mental and physical stats, <br> turning every completed task into earned Trophies and XP. Track your ascent, master your mind, and build lasting habits with the only personal growth app you'll ever need.</p>
            <button onclick="window.location.href='auth/signup';">Get Started for free</button>
        </div>
        <div class="ui-image-container">
            <img src="{% static 'images/Gemini_Generated_Image_flpqbbflpqbbflpq-removebg-preview.png' %}" class="ui-image" alt="Gemini-Generated-Image-flpqbbflpqbbflpq-removebg-preview" border="0">
        </div>
    </section>
    <section class="what-do-you-need">
        <h2>What Producitivity superpower <br> Do you need Today?</h2>
        <div class="buttons-div">
        <div class="buttons">
            <button>Get productivity tips</button>
            <button>Forge a Focused Plan</button>
            <button>Discover My Weakness</button>
        </div>
        <div class="buttons">
            <button>Find My Next Task</button>
            <button>Earn My Next Rank</button>
            <button>Just Get Me Started</button>
        </div>
        </div>
    </section>
    <section class="how-it-works">
        <h2>How Crescendo Works?</h2>
        <div class="features">
            <div class="feature">
                <img src="https://i.ibb.co/j9YFkKFB/Gemini-Generated-Image-eofwrheofwrheofw.png" alt="Gemini-Generated-Image-eofwrheofwrheofw" border="0">
                <h3>Built on Proven Growth Principles</h3>
                <p>Crescendo isn't just another to-do list. Our system is built on established principles of habit formation, gamification, and behavioral psychology. From the progression of Stat Ranks to the design of Roadmaps, every feature is crafted to maximize engagement and ensure your efforts lead to real, sustainable improvement.</p>
            </div>
            <div class="feature">
                <img src="https://i.ibb.co/qF53bFC5/Gemini-Generated-Image-cojcoqcojcoqcojc.png" alt="Gemini-Generated-Image-cojcoqcojcoqcojc" border="0">
                <h3>Powered by Dynamic Progression</h3>
                <p>Once you start using Crescendo, it becomes your personal growth engine. It dynamically tracks your Profile XP and Stat Trophies, learning from your completed tasks. This smart system adapts to your progress, unlocking new Ranks and guiding you towards your next challenge with relevant Roadmaps and insights.</p>
            </div>
            <div class="feature">
                <img src="https://i.ibb.co/vxWTgm0s/Gemini-Generated-Image-mx11yzmx11yzmx11.png" alt="Gemini-Generated-Image-mx11yzmx11yzmx11" border="0">
                <h3>Personalized for Your Unique Self</h3>
                <p>We know self-improvement isn't one-size-fits-all. That's why Crescendo features the Knight, Ninja, and Alchemist classes. Through a quick quiz, you'll discover your unique productivity style and unlock tailored tips and strategies designed to leverage your strengths and conquer your specific weaknesses, providing clarity without ignoring your individuality.</p>
            </div>
        </div>
    </section>
    <footer>
        <section class="media">
            <div class="newsletter">
            <p>Stay in loop with Crescendo newsletter</p>
            <form class="newsletter">
                <input type="email" placeholder="Enter your email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
        <div class="details">
            <div class="footer-block">
                <ul>
                    <li>Blog</li>
                    <li>Pricing</li>
                    <li>Our Story</li>
                </ul>
            </div>
            <div class="footer-block">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>Support</li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Try our app</h3>
                <button>Go to Playstore</button>
        </div>
            
        </section>
        <p class="copyright">&copy; 2024 Crescendo. All rights reserved.</p>
    </footer>
</body>
</html>