{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescendo - Build your best self. Track your ascent.</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    
</head>
<body>
    <section class="quiz-landing-page">
        <div class="quiz-start-card">
            <h1 class="quiz-landing-title">Discover Your Ideal Class</h1>
            <p class="quiz-landing-subtitle">Take our quiz to find the class that best matches your personality and strengths.</p>
            <img src="https://i.ibb.co/9zXpNXj/1766214199370.png" class="ideal-class" alt="1766214199370" border="0" height="300">
            <button class="quiz-start-button" onclick="window.location.href='/quiz/1';">Start Your Quiz</button>
        </div>
    </section>

</body>
</html>